
@media (max-width:768px){
.home{
    width: 80%;
    margin: auto;
    margin-top: 5rem;
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   justify-items: start;
}

.name{
    font-weight: bolder;
    font-size: 3rem;
    text-align: left;
    text-shadow: var(--main-shadow);
}

.developer{
    margin-top: 2rem;
    font-size: 1.5rem;
    text-shadow: var(--main-shadow);
}

.contact{
    justify-self: end;
    height: fit-content;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 1rem;
    padding: .8rem;
    border: solid #272343;
    box-shadow: var(--main-shadow);
}

.contact:hover{
    background-color: var(--color-3);
    color: #f1f1f1;
    transition: ease-in 250ms;
  }

}



@media (min-width: 768px){
.home{
display: inline-grid;
align-items: center;
}
.name{
    font-weight: bolder;
    font-size: 4rem;
    margin-left: 2rem;
    text-shadow: var(--main-shadow);
    text-align: left;
}

.developer{
    font-size: 2rem;
    margin-left: 6rem;
    position: relative;
    bottom: 1rem;
    text-shadow: var(--main-shadow);
}

.contact{
    justify-self: end;
    width: fit-content;
    font-size: 2rem;
    background-color: transparent;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    bottom: 3rem;
    box-shadow: var(--main-shadow);
}

.contact:hover{
    background-color: var(--color-3);
    color: #f1f1f1;
    transition: ease-in 250ms;
  }

}