html{
  font-size: 16px;
  --color-1: #ffd60a;
  --color-2:  #ffc300;
  --color-3:  #003566;
  --color-4: #001d3d;
  --color-5: #000814;
}


body {
  margin: 0;
  font-family:'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Sans', sans-serif;
}

